<div>New Blog Post</div>
<form action="/blogs" method="POST">
    <label>Title</label>
    <input type ="text" name="title" placeholder="title">
    <label>Image</label>
    <input type ="text" name="image" placeholder="image">
    <label>Blog Content</label>
    <textarea name="body"></textarea>
    <button>Submit</button>
</form>
