<!DOCTYPE html>
<html>

<head>
    <title>The Cosmic Whale</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="/css/style.css" media="screen,projection">
    <script src="/js/materialize.min.js"></script>
    <script src="/js/layout.js"></script>

</head>

<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">The Cosmic Whale</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/blogs">Blog</a></li>
            <li><a href="/auth">Log In</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Web Projects<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/auth">Log In</a></li>
            <li><a href="/blogs">Blog</a></li>
        </ul>
    </div>
</nav>


<ul id="dropdown1" class="dropdown-content">
  <li><a href="/projects/patatap">Patatap Clone</a></li>
  <li class="divider"></li>
  <li><a href="/projects/todolist">Todo List</a></li>
  <li class="divider"></li>
  <li><a href="/projects/colorgame">Color Game</a></li>
</ul>

<body>
    <main>
    {{{body}}}
    </main>
</body>
<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        © 2016 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
</footer>

</html>
