<!DOCTYPE html>
<html>

<head>
    <title>The Cosmic Whale</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="/css/style.css" media="screen,projection">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
</head>

<body>
    <nav class="blue-grey darken-4">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">The Cosmic Whale</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/blogs">Blog</a></li>
                <li><a href="/auth">Auth</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <footer class="page-footer blue-grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
</body>
</html>
