body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

form{
  display: inline;
}
.brand-logo{
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
/*.card-image{
  height: 400px;
}*/