body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

nav {
  padding-left: 25px;
  padding-right: 25px;
}

a {
  color: #00B7FF;
}

.exit {
  margin-right: 1%;
  margin-top: 1%;
}

form{
  display: inline;
}
.brand-logo{
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.indexBlogImg{
  width: 400px;
}

.blogDate{
  float: right;
  margin-top: 5px;
}

.blogText{
  font-size: 24px;
}

.blogIndex{
  margin-top: 10px;
}

.blogPost{
  max-width:800px;
}

.blogTitle{
  font-size: 36px;
}

.btn{
  margin: 5px;
}
.readmore{
  float: right;
  margin-top: 20px;
}

.newBlog{
  float: right;
}

.commentUser{
  float: left;
}
hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}