body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

.exit {
  margin-right: 1%;
  margin-top: 1%;
}

form{
  display: inline;
}
.brand-logo{
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.blogImg{
  width: 400px;
}
.blogDate{
  text-align: right;
}