body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

nav {
  padding-left: 25px;
  padding-right: 25px;
}

a {
  color: #00B7FF;
}

.exit {
  margin-right: 1%;
  margin-top: 1%;
}

form{
  display: inline;
}
.brand-logo{
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.blogImg{
  width: 400px;
}
.blogDate{
  text-align: right;
}