<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.10.2/paper-full.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/1.1.28/howler.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/projects/circles.css">

	<script type="text/paperscript" src="/js/projects/patatap.js" canvas="myCanvas"></script>

</head>

<body>
    {{{body}}}

<div style="color: white; top: 50%; left: 49%; position: fixed;">
    <p>Hit Some Keys..</p>
</div>
<div style="color: white; top: 80%; left: 50%; position: fixed;">
    <a href="/">Go Back</a>
</div>

</body>

</html>
