<!DOCTYPE html>
<html>

<head>
    <title>The Cosmic Whale</title>
<script type="text/javascript" src="paper-full.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/1.1.28/howler.js"></script>
<link rel="stylesheet" type="text/css" href="circles.css">

<script type="text/javascript" src="assets/js/lib/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/projects/todos.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {{{body}}}

<div style="font-color: white; top: 80%; left: 50%; position: fixed;">
    <a href="/">Go Back</a>
</div>

</body>

</html>
